*{
	margin: 0px;
	padding: 0px;
}
body{
	background-image: url('bg.jpg');
}
#main, #header, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#main
{ width: 910px;
  background: url(content.png) repeat-y;}

#header
{ width: 890px;
margin-top:20px;
  background: url(header.jpg) repeat-x;}

#logo
{ width: 890px;
  position: relative;
  height: 200px;
  background: url(logo.jpg) no-repeat;}

#logo #logo_text 
{ position: absolute; 
  top: 0px;
  left: 30px;}

#logo h1, #logo h2
{ font: normal 300% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover 
{ padding: 10px 0 0 0;
  color: #FFF;
  letter-spacing: 0.1em;
  text-decoration: none;}

#logo_text h1 a .logo_colour
{ color: #555;}

#logo_text h2
{ font-size: 130%;
  padding: 0;
  color: #444;}

.menu{
	float: left;
	margin:0;
	position:relative;
	top:0;
	height:inherit;
	background-color:green;
	color:#000;
}
	ul{
		list-style:none;
		margin:0;
		padding:0;
		overflow:hidden;
	}
	li ul{
		display: none;
	}
	li{
		float:left;
	}
		li a,.dropbtn{
			display: inline-block;
			color:white;
			text-align:center;
			padding:20px 30px;
			text-decoration:none;
			transition: all 0.3s ease-in-out;
		}

			li a:hover,.dropdown:hover .dropbtn{
				background-color: #000000;
				color:#FFFFFF;
			}
		li.dropdown{
			display:inline-block;
		}
		.dropdown-content{
			display:none;
			position:absolute;
			background-color:green;
			min-width:160px;
			box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
			z-index:1;
		}
			.dropdown-content a{
				color:black;
				padding:15px 16px;
				text-decoration: none;
				display:block;
				text-align:left;
				transition: all 0.3s ease-in-out;
			}
				.dropdown-content a:hover{
					background-color:#23272a;
					color:#fff;
				}
			.dropdown:hover .dropdown-content{
				display:block;
			} 


.gambardepan{
	float:left;
	margin-right:5px;
	margin-top:15px;
	padding:1px;
}

.main{	
	margin-top:10px;
	padd	ing-left:5px;
	padding-right:5px;
	float: right;
	width: 590px;
	min-height: 300px;
	background-color: white;	
	margin-right: 5px;
}
.sidebar{	
	margin-top: 10px;
	float: left;
	width: 300px;
	min-height: 300px;
	background-color: white;
	color:black;
}
.footer{	
	width: 1000px;
	height: 50px;
	background-color:#41f44d;
	color:white;
	margin-top: 5px;
}